<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin : 10 auto;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">Edit Comment</h1>

                    <div style="width: 30%; margin: 25px auto;">
                        <form action="/blogs/<%= blog_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Add Comment</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="comment[text]"
                                        placeholder="Add Comment" value="<%= comment.text %>" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success"
                                style="border-radius: 15px; margin : 20px 50% 0 30%">Submit <i
                                    class="fas fa-arrow-right fa-0.5x"></i></button>

                        </form>
                        <a href="/blogs">Go Back</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>