/* COMMON TO ALL */
html {
  position: relative;
  min-height: 100%;
}

.card {
  margin: 20px 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.blow {
  transition: all 2s ease;
}

.blow:hover {

  outline: 2px solid #c4c4c4;
  outline-offset: 0.3rem;
  transform: scale(1.04);
}

.btn-xs {
  border-radius: 15px;
  margin: 20px 50% 0 30%;
  box-shadow: rgba(0, 0, 0, 0.6);
}

.chip {
  display: inline-block;
  padding: 10px;
  height: 39px;
  font-size: 14px;

  border-radius: 20px;
  background-color: #f1f1f1;
}

input[type=text],
input[type=password] {
  border-color: white;
  border-bottom-color: lightgray;
  border-radius: 0;
  border-bottom-width: 1.5px;
  font-size: 13px;
}

input[type=text]:hover,
input[type=password]:hover {
  border-bottom-color: blue;
}

.form-control:focus {
  border-color: white;
  border-bottom-color: blue;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.img-responsive {
  height: 400px;
  width: 645px;
  margin: auto;
}






.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: green !important;
}

.navbar nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

/* WELCOME PAGE */


/* FULL BLOG READ PAGE */
.thumbnail img {
  width: 100%;
}


.thumbnail {
  padding: 0;
}

.thumbnail h1 {
  text-transform: capitalize;
}

.thumbnail h1 :hover {
   border-bottom: none;
   
}
.btn-success{
  background-color: blueviolet;
}

.deleteForm {
  display: inline;
}

.details {
  color: white;
}

/* LOGIN AND SIGNUP PAGE */


/* ADD AND EDIT COMMENT PAGE */



/* HEADER */



/* FOOTER */
footer {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
}

.dev {
  padding: 2px;
  border-radius: 9px;
  width: 60px;
}